{% extends 'base.html' %}
{% block title %} Educryption {% endblock %}

{% block content %}

<h1>Educryption</h1>


<form id="crypto-form" method="get" action="/search">
  <div>Cryptocurrency: <input id="name" name="slug"><span><button type="submit">Get it</button></span></div>
</form>

<div id="currency-list" class="card-container" style="margin-top: 10px;">
  {% for c in currencies %}

  <div data-id="{{ c.id }}" class="card mb-3" style="width: 60rem; border: 1px black solid; border-radius: 4px; margin: 5px">
    <div class="card-body">
      <div class="currency-info">
        <a href="/currency/{{ c.id }}">

          <span style="text-decoration: inherit; color: black;">
            <span class="card-body-cmcrank">{{ c.id }} - </span>
            <span class="card-body-name">{{ c.name }} -- </span>
            <span class="card-body-symbol">{{ c.symbol }}</span>
            <span class="card-body-price">${{ "%.2f"|format(c.quote["USD"]["price"]) }}</span>          
          </span>
        </a>


        {% if session['username'] %}
        <span class="currencyButtons" style="float: right">
            {% if c.id in user_currencies %}
            <button onclick="toggleFavorite()" class="remove-currency" data-username="{{ session['username'] }}" data-currency-id="{{ c.id }}">Remove</button>
            {% else %}
            <button onclick="toggleFavorite()" class="add-currency" data-username="{{ session['username'] }}" data-currency-id="{{ c.id }}">Add</button>
            {% endif %}
        </span>
        {% endif %}

      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}






