{% extends 'base.html' %}

{% block title %} Educryption {% endblock %}

{% block content %}

<h1>User Information</h1>

<p>Username:  {{ user.username }}</p>

<p>Email:  {{ user.email }}</p>

<p>First Name:  {{ user.first_name }}</p>

<p>Last Name:  {{ user.last_name }}</p>




<form>
  <button class="btn btn-sm btn-primary" formmethod="GET" formaction="/users/{{ user.username }}/currencies/add">Add Currency</button>

  <button class="btn btn-sm btn-danger" formmethod="POST" formaction="/users/{{ user.username }}/delete">Delete User</button>  
</form>


  # ********** the information being looped below will be from the db_educryption
<div id="currency-list" class="card-container" style="margin-top: 10px;">
  {% for c in currencies %}
  <div data-id="{{ c.id }} class="card mb-3" style="width: 60rem; border: 1px black solid; border-radius: 4px; margin: 5px">
    <div class="card-body" onclick>
      <span class="card-body-cmcrank">{{ c.id }} - </span>
      <span class="card-body-name">{{ c.name }} -- </span>
      <span class="card-body-symbol">{{ c.symbol }}</span>
      <span class="card-body-price">${{ c.quote["USD"]["price"] }}</span>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}