{% extends 'base.html' %}

{% block title %} Educryption {% endblock %}

{% block content %}

<h1>Currency Information</h1>

  {% if currency %}
    <div data-id="{{ currency.id }}" class="card mb-3" style="width: 60rem; border: 1px black solid; border-radius: 4px; margin: 5px">
      <div class="row">
        <div class="col-md-4" style="display: block; margin-left: auto; margin-right: auto">
          <img src={{ currency.logo }} class="img-fluid rounded-start" alt={{ currency.name }}>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <span class="card-body-symbol">{{ currency.symbol }} - </span>
            <span class="card-body-name">{{ currency.name }}</span>
            <p class="card-body-description">{{ currency.description }}</p>
          </div>   
        </div>     
      </div>
    </div>
  {% else %}
    <div>
      <span>
        <a href="/">Error has occurred. Click to return.</a>
      </span>
    </div>
{% endif %}

{% endblock %}